.ContactBlockSocial {
    display: flex;
    margin: 0 auto !important;
    & .ContactBlockSocialItem {
        display: flex;
        margin-right: 24px;
        &:last-child {
            margin-right: 0;
        }
    }
}
