@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');
@import './_variables';
@import './_mixins';

body {
    font-family: $app-font-family;
    font-weight: $app-font-weight;
    font-size: $app-font-size;
    background: $app-bg;
    color: $app-color;
}

img {
    object-fit: cover;
}

button {
    border: $button-border;
    outline: $button-outline;
    background: $button-bg;
    cursor: $button-cursor;
    padding: $button-padding;
}

h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

h4 {
    font-size: $font-size-h4;
}

h5 {
    font-size: $font-size-h5;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: $headings-margin;
}

img {
    object-fit: $img-object-fit;
}

button,
a,
img {
    transition: $app-transition;
    &:hover {
        opacity: $app-opacity;
    }
}

@media screen and (max-width: 1024px) {
    @include fontSizeMedia(
        (
            h1: 36px,
            h2: 28px,
            h3: 24px,
            h4: 20px,
            h5: 18px,
        )
    );
}

@media screen and (max-width: 460px) {
    @include fontSizeMedia(
        (
            h1: 32px,
            h2: 24px,
            h3: 20px,
            h4: 18px,
            h5: 16px,
        )
    );
}
