@mixin submitButton($selector) {
    #{$selector} {
        background: #092433;
        border-radius: 15px;
        color: #fff;
        padding: 16px;
        font-size: 16px;
        width: -webkit-fill-available;
    }
}

@mixin fontSizeMedia($map) {
    h1 {
        font-size: map-get($map, 'h1');
    }

    h2 {
        font-size: map-get($map, 'h2');
    }

    h3 {
        font-size: map-get($map, 'h3');
    }

    h4 {
        font-size: map-get($map, 'h4');
    }

    h5 {
        font-size: map-get($map, 'h5');
    }
}
