.ServerSiteContainer {
    max-width: 1200px;
    margin: 64px auto;
    padding: 24px 0;
    border-top: 1px solid rgb(211, 211, 211);
}

@media screen and (max-width: 1024px) {
    .ServerSiteContainer {
        margin: 24px auto;
        padding: 12px 0;
    }
}
