.MediaBankBlock {
    border-bottom: 1px solid lightgray;
    padding-bottom: 64px;
    & h2 {
        margin-bottom: 24px;
    }
    & .MediaBankBlockItem {
        & img {
            max-width: 600px !important;
            max-height: 300px !important;
            border-radius: 15px;
        }
        & p {
            padding-top: 4px;
            font-size: 14px;
            opacity: 0.5;
        }
    }
}
